
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MongoApp</a>
      </div>
      <ul class="nav navbar-nav">
        <%
          if(!username)
          {
        %>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/login">Login</a></li>
        <%
          }
          else
          {
        %>
        <li><a href="/admin/add_product">Add Product</a></li>
        <li><a href="/admin/add_category">Add Category</a></li>
        <li><a href="/admin/view_product">Product List</a></li>
        <li><a href="/admin/view_category">Category List</a></li>
        <li><a href="#">Logout</a></li>
       <%
          }
       %>
      </ul>
    </div>
  </nav>